    <article class="thumbnail">
      <img class="pic" src="{{avatar}}" alt="{{name}}">
      <h3>{{name}}</h3>
      {{#job}}
      <p>{{job}}, {{company}}</p>
      {{/job}}
      {{^job}}
      <p style="color: red">Available for work</p>
      {{/job}}
    </article>
