<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>User Directory</title>
  <link rel="stylesheet" href="./styles.css">
</head>
  <body>
    <article class="thumbnail">
      <img class="pic" src="{{avatar}}" alt="{{name}}">
      <h3>{{name}}</h3>
      <p>{{job}}, {{company}}</p>
    </article>
  </body>
</html>
