body{
  margin: 0;
  padding: 0;
  font-family: 'Saira Condensed', sans-serif;
}

.singleUser{
  font-size: x-large;
}

article{
  display: inline-block;
  border: 1px solid red;
  width: 23%;
  margin-right: 17px;
  margin-bottom: 20px;
  text-align: center;
}

article :after{
  clear: both;
}

.user-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h3{
  color: blue;
}

.whole-container{
  margin-top: 4%;
  margin-left: 30%;
}
.top-container{
  display: flex;
align-items: flex-end;
}

.bottom-container{
margin-left: 12%;
}

.single-pic{
  width: 170px;
  height: 170px;
  border: 1px solid lightgrey;
  border-radius: 50%;
  margin-right: 25px;
}

b{
  font-size:
}

li{
  list-style-type: none;
  /*padding-left: 16%;*/
}

.text{
  line-height: 18px;
}

ul{
  margin-top: -28px;
  margin-left: 40px;

}
